<h1>Index</h1>

<%= link_to 'Dodaj nową stronę', new_page_path  %>

<%= @pages.each do |page| %>
	<p><%= link_to page.title, show_path(page.slug)  rescue "brak linka" %> | <%= page.slug %> </p>
<% end %>