

<%= form_with scope: :page, url: pages_path, local:true do |form| %>
  <%= @page.errors.full_messages.first if @page.errors.any? %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :slug %><br>
    <%= form.text_field :slug %>
  </p>

  <p>
    <%= form.label :index %><br>
    <%= form.check_box(:index, :checked_value => "INDEX", :unchecked_value => "NOINDEX") %>
  </p>

  <p>
    <%= form.label :follow %><br>
    <%= form.check_box( :follow, :value => 'FOLLOW', :value => 'NOFOLLOW')%>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>