<h1>Show</h1>
<% title @page.title %>
<% description @page.description %>
<% index_follow @page.index, @page.follow %>
<% follow @page.follow %>
<% # Actual view content %>
<h2><%= @page.title %></h2>
<div class='content'><%= @page.slug %></div>
