<!DOCTYPE html>
<html>
  <head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= yield(:title) %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "PyGoogle Demo" %>">
    <meta name="robots" content="<%= content_for?(:index_follow) ? yield(:index_follow) : "INDEX, FOLLOW" %>">
        <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<title></title>

